.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0000008c;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  z-index: 3;
}

.customModal {
  width: 100%;
  max-width: 360px;
  background: var(--theme-white);
  border-radius: 10px;
  position: relative;
}

.modalHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: end;
}

.closeButton {
  width: 22px;
  margin: 5px;
  cursor: pointer;
}
