.mainButton {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  padding: 12px 20px;
  border: 1px solid #fff0;
  border-radius: 8px;
  transition: 0.3s linear;
}

.mainButton.large {
  padding-top: 16px;
  padding-bottom: 16px;
}

.mainButton.filled {
  color: var(--theme-white);
  background: var(--theme-primary);
  border-color: var(--theme-primary);
}

.mainButton.filled:hover {
  background: var(--theme-primary);
  border-color: var(--theme-primary);
}

.mainButton.filled.disabled {
  background: var(--theme-primary-light);
  border-color: var(--theme-primary-light);
}

.mainButton.filled.disabled:hover {
  background: var(--theme-primary-light);
  border-color: var(--theme-primary-light);
  cursor: not-allowed;
}

.mainButton.unfilled {
  font-weight: 600;
  color: var(--theme-primary);
  background: var(--theme-white);
  border-color: var(--theme-primary);
}

.mainButton.unfilled:hover {
  font-weight: 400;
  color: var(--theme-white);
  background: var(--theme-primary);
  border-color: var(--theme-primary);
}

.mainButton.unfilled.disabled {
  color: var(--theme-primary-light);
  border-color: var(--theme-primary-light);
}

.mainButton.unfilled.disabled:hover {
  color: var(--theme-primary-light);
  background: var(--theme-white);
  border-color: var(--theme-primary-light);
  cursor: not-allowed;
}

.mainButton.gradient {
  color: var(--theme-primary);
  background: var(--theme-white);
  border-color: var(--theme-primary);
}

.mainButton.gradient:hover {
  color: var(--theme-white);
  background: var(--theme-primary);
}

.mainButton.gradient.disabled {
  color: var(--theme-primary-light);
  border-color: var(--theme-primary-light);
}

.mainButton.gradient.disabled:hover {
  color: var(--theme-primary-light);
  background: var(--theme-white);
  border-color: var(--theme-primary-light);
  cursor: not-allowed;
}
